@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-navy: #160e44;
  --color-primary-blue: #334c91;
  --color-highlight-magenta: #D946EF;
  --color-highlight-yellow: #FBBF24;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-navy);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}